body{
		font-family:cursive ;
		color: lightcoral;
		padding: 50em 50em 50em 50em;
		background-color: blue;
	}
	nav{
		font-weight: bold;
		text-align: center;
		width: 20em;
		background-color: royalblue;
		color: white;
	}
	nav ul{
		display: none;
		list-style: none;
		margin: 0;
		width: 20em;
		position: center;
	}
	nav: hover ul{
		display: block;
	}
	nav ul li{
		border-top: 2px solid royalblue;
		background-color: white;
		width: 10em;
		color: black;
		background-color: white;
		margin: 30em 10em 30em 10em;
		padding: 50em 50em 50em 50em;
		border-right: none;
	}
	nav ul li:hover{
		background-color: powderblue;
	}
	a{
		text-decoration: none;
	}